.Chat-main
  .Chat-main__group-info
    .Chat-main__left
      = @group.name
      .Chat-main__menber
        Menber :
        .Chat-main__menbername
          - @group.users.each do |user|
            = user.name
    .Chat-main__right
      = link_to edit_group_path(@group), class: "Chat-main__btn" do
        Edit
            
  .Chat-main__message-list
    = render @messages

   


  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Chat-main__message-type"}, local: true do |f|
      .Chat-main__message-space
        = f.text_field :content, class: 'Chat-main__inputcomment', "placeholder": "type a message"
        = f.label :image, class: 'Chat-main__icon' do
          = icon('fas', 'image', class: "Chat-main__image")
          = f.file_field :image, class: 'Chat-main__file'

      = f.submit 'Send', class: 'Chat-main__message-btn'
      
        
        

